* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(101, 145, 122);
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  align-items: center;
  color: rgb(0, 0, 0);
}
